<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>@ViewData["Title"] - MC.WebApp</title>

	<base href="~/" />

	<link href="https://fonts.googleapis.com/css?family=Spinnaker|Cabin:400,700" rel="stylesheet">

	<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />

	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
<body>
    @RenderBody()

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
